.git
.venv
venv
__pycache__
*.pyc
*.pyo
.env
db.sqlite3
backup
staticfiles
media
node_modules
.vscode
.idea
*.md
.git/
.venv/
__pycache__/
media/
staticfiles/
test_playground/
test.py
test.json
test.js
*.ps1
start_hidden.vbs