{% load static %}
<div>
    {% if movie.path is not None %}
        <img src="{% static 'movies/images/' %}{{ movie.path }}" alt="{{ movie.name }}" width="200" align="left" hspace="15">
    {% else %}
        <img src="{% static 'movies/images/nocover.png' %}" alt="{{ movie.name }}" width="200" align="left" hspace="15">
    {% endif %}
    <p>{{ movie.name }}</p>
    <p>{{ movie.year }}</p>
    {% if movie.rate %}
        <p>Оценка:  {{ movie.rate }}</p>
        {% if movie.rate >= 8 %}
            <p>РЕКОМЕНДУЕМ!</p>
        {% endif %}
    {% else %}
        <p>Еще не оценен</p>
    {% endif %}
    <p>{{ movie.description|truncatewords:15|linebreaksbr }}</p>
    <br clear="left">
</div>
