{% load static %}
<article class="movie-card">
    <a class="a-block" href="{% url 'movies:detail' movie.pk %}">
        {% if movie.cover and movie.image_exists %}
            <img class="movie-card-cover"
                 src="{{ movie.cover.url }}"
                 data-fallback-src="{% static 'movies/images/nocover.png' %}"
                 onerror="this.onerror=null; this.src=this.dataset.fallbackSrc;"
                 alt="{{ movie.name }}" />
        {% elif movie.cover_url %}
            <img class="movie-card-cover"
                src="{{ movie.cover_url }}"
                alt="{{ movie.name }}" 
                data-fallback-src="{% static 'movies/images/nocover.png' %}"
                onerror="this.onerror=null; this.src=this.dataset.fallbackSrc;"/>
        {% else %}
            <img class="movie-card-cover"
                 src="{% static 'movies/images/nocover.png' %}"
                 alt="{{ movie.name }}" />
        {% endif %}
        <div class="movie-info">
            <h2>{{ movie.name }}</h2>
            <p>{{ movie.year }}</p>
            {% if movie.avg_rating %}
                <p>RAFS Rate: {{ movie.avg_rating }}</p>
                {% if movie.avg_rating >= 8 %}
                    <p>РЕКОМЕНДУЕМ!</p>
                {% endif %}
            {% else %}
                <p>Еще не оценен</p>
            {% endif %}
            <div class="movie-description">
                <p>{{ movie.description|truncatewords:15|linebreaksbr }}</p>
            </div>
        </div>
    </a>
</article>
