{% extends "base.html" %}
{% block content %}
    <h1>Добро пожаловать на RAFS! 🎬</h1>
    <p>Это платформа для тех, кто не просто смотрит кино, а любит делиться своими мыслями. Здесь вы можете ставить фильмам честные оценки и писать открытые отзывы, помогая другим определиться с выбором.</p>
    <p>Наша главная цель — объединять людей со схожими киновкусами. В будущем на сайте появится умная система рекомендаций: она проанализирует ваши оценки и подберет уникальный список фильмов на основе интересов пользователей, похожих на вас.</p>
    <p>Также мы готовим гибкую систему кастомных тегов. Вы сможете создавать свои уникальные метки для фильмов и находить по ним самые скрытые и необычные киношедевры. Присоединяйтесь, дальше будет только интереснее!</p>
{% endblock %}